.vs/
BLL/bin/Debug/
DAL/bin/Debug/
SummerCharity/bin/Debug/
BLL/obj/Debug/
DAL/obj/Debug/
SummerCharity/obj/Debug/
BLL/obj/Release/
DAL/obj/Release/
SummerCharity/obj/Release/
SummerCharity/Web.config