.vs/
BLL/bin/Debug/
DAL/bin/Debug/
SummerCharity/bin/Debug/
BLL/obj/Debug/
DAL/obj/Debug/
SummerCharity/obj/Debug/
BLL/obj/Release/
DAL/obj/Release/
SummerCharity/obj/Release/
SummerCharity/Web.config
SummerCharity/bin/BLL.dll
SummerCharity/bin/BLL.pdb
SummerCharity/bin/DAL.dll
SummerCharity/bin/DAL.pdb
SummerCharity/bin/SummerCharity.dll
SummerCharity/bin/SummerCharity.pdb